.projects {
    background-image: url('../img/projects/projects-bg.png');
    background-repeat: repeat-y;
    background-position: left;
    background-color: #f5f5f5;
    background-size: 50%;
    position: relative;
    
    &:before {
        content: '';
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #f5f5f5;
    }

    &__title {
        padding-top: 100px;
        margin: 0 auto 99px;

        max-width: 786px;
        position: relative;
        text-align: center;
    }
}

.project {
    &__image {
        margin: auto;
    }
}