.projects {
    background-image: url('../img/projects/projects-bg.png');
    background-repeat: repeat-y;
    background-position: left;
    background-color: #f5f5f5;
    background-size: 50%;
    position: relative;
    
    &:before {
        content: '';
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #f5f5f5;
    }
    // .projects__inner

    // &__inner {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center;
    //     text-align: center;
    //     position: relative;
    // }
    // .projects__title

    &__title {
        color: #333333;

        font-size: 30px;
        font-weight: 700;
        line-height: 45px;

        padding-top: 100px;
        margin-bottom: 99px;

        max-width: 786px;
    }   
    // .projects__items

    // &__items {
    //     width: 100%;

    //     display: flex;
    //     justify-content: space-between;
    // }
}

// .project {

//     // .project__item

//     &__item {

//         // &_active {
//         //     display: block;
//         // }

//         flex-basis: 30%;
//     }
// }
