@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .description {
        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__subtitle {
            line-height: 30px;
        }
    }

    .offer {
        background-position: center;
        background-size: cover;
        &:before {
            display: none;
        }
    }

    .projects {
        background-position: center;
        background-size: cover;
        &:before {
            display: none;
        }
    }

    .card {
        justify-content: space-around;
    }
}

// ----------------------------------------------------------------- MEDIA < 992px

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .description {
        flex-basis: 50%;
        &__title {
            font-size: 20px;
            line-height: normal;
        }

        &__subtitle {
            font-size: 14px;
            line-height: normal;
        }
    }

    .benefit {
        &__item {
            margin-bottom: 15px;
            
            &:first-child {
                margin-top: 15px;
            }
        }

        &__icon {
            height: 29px;
        }

        &__description {
            font-size: 10px;
            line-height: 14px;
        }
    }

    .present {
        text-align: center;

        &__image {
            width: 75%;
        }
    }

    .offer {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            max-width: 495px;
        }

        &__subtitle {
            max-width: 495px;

            transform: translateX(-12px);
        }
    }

    .card {
        flex-direction: column;
        align-items: center;
        flex-basis: auto;
    }

    .steps-block {
        &__arrow {
            display: none;
        }
    }
}

// ----------------------------------------------------------------- MEDIA < 768px

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .contacts {
        &__address{
            font-size: 11px;
        }

        &__phone {
            font-size: 16px;
        }
    }

    .intro {
        &__inner {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .description {
        flex-basis: 50%;

        &__title {
            margin-top: 0px;
            font-size: 22px;
        }

        &__subtitle {
            font-size: 18px;
        }
    }

    .benefit {
        &__icon {
            height: 40px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .present {
        text-align-last: left;

        &__image {
            width: 100%;
            margin-left: -40px;
        }
    }

    .projects {
        &__title {
            font-size: 24px;
            line-height: 30px;
            padding-top: 60px;
            margin: 0 auto 60px;
        }
    }

    .price {
        &__title {
            font-size: 24px;
            line-height: normal;
        }
    }

    .steps {
        &__title {
            font-size: 24px;
            line-height: normal;

            margin: 50px auto 30px;
        }

        &__subtitle {
            margin-bottom: 35px;
        }
    }

    .steps-block {
        flex-direction: column;

        &__description {
            margin-bottom: 30px;
            font-size: 12px;
        }
    }
}

// ----------------------------------------------------------------- MEDIA < 576px

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .header {
        &__inner {
            margin: 17px 20px;
        }
    }
    .intro {
        &__inner {
            align-items: center;
        }
    }
    .contacts {

        &__text {
            display: none;
        }

        &__button {
            font-size: 10px;
        }
    }

    .button {
        padding: 15px 25px;
    }

    .logo {
        &__image {
            width: 91px;
            height: 44px;
        }
    }

    

    .description {
        &__title {
            font-size: 24px;
            line-height: normal;
            margin: 0 0 13px 25px;
        }

        &__subtitle {
            font-size: 16px;
            line-height: normal;

            display: inline-block;

            margin: 0 25px 25px;
        }
    }

    .benefit {
    
        &__icon {
            margin-right: 12px;
            height: 40px;
        }

        &__item {
            margin-left: 25px;
            
            &:first-child {
                margin-top: 0;
            }
        }

        &__description {
            font-size: 12px;
            line-height: normal;

            max-width: 200px;
        }
    }

    .present {
        &__image {
            max-width: 85%;
            transform: none;
            margin: 0 25px 10px;
        }
    }

    .offer {
        background: none;

        &__inner {
            padding: 0 20px;
            max-width: 275px;
            margin-left: auto;
            margin-right: auto;
        }
        

        &__title {
            font-size: 20px;
            line-height: normal;

            padding-top: 53px;
        }

        &__subtitle {
            font-size: 14px;
            transform: translateX(0);
            line-height: normal;
        }

        &__form {
            max-width: 275px;
        }
    }

    .input {
        &__name {
            flex-basis: unset;
            width: 100%;
        }

        &__phone {
            flex-basis: unset;
            width: 100%;
        }
    }

    .form {
        &__contacts {
            flex-direction: column;

            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
        }

        &__contact {
            padding-bottom: 56px;
        }

        &__button {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;

            padding: 19px 56px;
        }

    }

    .projects {
        &__title {
            font-size: 18px;
            line-height: normal;
            max-width: 270px;

            padding-top: 43px;
            margin: 0 auto 43px;
        }

        
    }

    .project {
       
        &__image {
            max-width: 246px;
        }

        &s__arrows {
            padding-bottom: 68px;
        }
    }

    .price {
        &__title {
            font-size: 18px;
            line-height: normal;

            margin-top: 52px;
            margin-bottom: 12px;

            max-width: 242px;
        }

        &__subtitle {
            margin-bottom: 46px;

            font-size: 14px;
        }
    }

    .card {
        max-width: 271px;
        margin-left: auto;
        margin-right: auto;

        &__image {
            margin-bottom: 15px;
        }

        &__title {
            margin-bottom: 0px;

            font-size: 14px;
        }

        &__link {
            margin-bottom: 35px;

            font-size: 16px;
        }
    }

    .steps {
        &__title {
            font-size: 18px;
            width: 80%;
        }
    }

}