.arrows {
    &__left, &__right {
        &:hover {
            cursor: pointer;
        }
    }
}

.projects {

    &__arrows {
        max-width: 120px;
        margin: 68px auto 0;
        padding-bottom: 100px;

        display: flex;
        justify-content: space-between;
        position: relative;
    }
}
