
.button {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    
    padding: 17px 30px;
    border-radius: 10px;
    background-color: $main-color;

    border: none;
    user-select: none;
}