// Reset
@import "vars/reset";

// Fonts
@import "fonts/fonts";

// Default styles
a {
    text-decoration: none;
    color: #000000;

    display: inline-block;
}

body {
    font-family: 'Museo Sans';
}

// Vars
@import "vars/colors";


// Helpers
@import "helpers/container";
@import "helpers/button";


// Blocks
@import "blocks/header";
@import "blocks/intro";

// Media
@import "media/media";