// Reset
@import "vars/reset";

// Fonts
@import "fonts/fonts";


// Default styles
a {
    text-decoration: none;
    color: #333333;

    display: inline-block;
}


body {
    font-family: 'Museo Sans', sans-serif;
}


// Vars
@import "vars/colors";

// Vendors
@import "vendors/slick.scss";

// Helpers
@import "helpers/container";
@import "helpers/button";
@import "helpers/arrows";


// Blocks
@import "blocks/section";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/offer";
@import "blocks/projects";
@import "blocks/price";
@import "blocks/steps";


// Media
@import "media/media";